@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0; padding: 0;
}
* {
	box-sizing: border-box;
}
@keyframes floating {
	from { transform: translate(0,  0px); }
	50%  { transform: translate(0, 10px); }
	to   { transform: translate(0, -0px); }    
}
.raleway {
	font-family: "Raleway", sans-serif;
}
.poppins {
	font-family: "Poppins", sans-serif;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
.roboto-div * {
	font-family: "Roboto", sans-serif;
}
.poppins-div * {
	font-family: "Poppins", sans-serif;
}
.navbar {
	padding: 20px;
	background-color: #121314;
	color: whitesmoke;

	display: flex;
}
.navbar .header.item {
	font-size: 1.5rem;
	/*display: block;*/

	color: #fdd93a;
}
.navbar .item {
	padding: 0.1em 1.2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	white-space: nowrap;
	color: whitesmoke;

	transition: all 0.3s ease;
}
.navbar .item:hover {
	color: #fdd93a;
}
.navbar .item.action, .navbar .item.active, .navbar .item.always-active {
	color: #fdd93a;
}
.navbar .item.action span {
	border: 2px solid #fdd93a;
	padding: 0.1em 1.2em;
	border-radius: 20px;
}
.navbar .item.action:hover, .navbar .item.action.active {
	color: #121314;
}
.navbar .item.action:hover span, .navbar .item.action.active span {
	background-color: #fdd93a;
}
.navbar > .right.menu {
	margin-left: auto !important;
	display: flex;
}

.navbar > .dropdown.item {
	position: relative;
}
.navbar > .dropdown.item.active {
	color: #121314;
	background-color: #fdd93a;
}
.navbar > .dropdown.item > .menu {
	display: none;
	width: max-content;	
	position: absolute;

	background-color: #fdd93a;
	/*border-top: 2px solid #fdd93a;*/
	/*border-bottom: 2px solid #fdd93a;*/
	/*color: black;*/
	padding: 0.2em 0.5em;
	padding: 0;
	/*border-radius: 5px;*/	

	top: 0; left: 0;
	opacity: 0;
	z-index: -1;

	
	transition: all 0.3s ease;
}

.navbar > .dropdown.item.active > .menu {
	display: flex;
	flex-direction: column;
	
	box-shadow: 0 20px 30px -10px #121314;
	
	top: 100%; left: 0;
	opacity: 1;
	z-index: 3;
}

.navbar > .dropdown.item > .menu > .item {
	color: #121314;
	border-bottom: 1px solid rgba(18, 19, 20, 1);
	padding: 0.3em 1.4em;
	transition: all 0.3s ease;
}
.navbar > .dropdown.item > .menu > .item:hover {
	color: whitesmoke;
	color: #fdd93a;
	background-color: rgba(18, 19, 20, 1);
}
.navbar > .dropdown.item > .menu > .item:last-child {
	border-bottom: 0;
}

img.image {
	width: 100%;
	height: auto;
}
#mainheader {
	/*background-image: url(images/headerbg.jpg);*/
	background-color: #121314;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;

	text-align: center;
}

#mainheader > .hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: whitesmoke;
	text-align: center;

	/*margin-top: 10%;*/
	/*margin-bottom: 10%;*/
	margin: auto;
	z-index: 2;

	padding: 6.9em 0 11.9em;
}

#mainheader > .hero > i {
	margin: auto;
	color: #fdd93a;

	font-size: 5rem;
}
#mainheader > .hero > h1 {
	color: #fdd93a;
	margin: 0;
	font-size: 5rem;
}
#mainheader > .hero > p {
	color: whitesmoke;
	margin: 0;
	font-size: 2rem;
}
.overlay {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, .6);

	color: whitesmoke;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

}

.scrolldown {
	position: absolute;
	left: 0; bottom: 20px; right: 0;
	text-align: center;
	width: fit-content;
	margin: auto;
	color: whitesmoke;

	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: all 0.3s ease;
}

.scrolldown:hover {
	color: #fdd93a;
}
.scrolldown p {
	width: auto;
}
.scrolldown i {

	color: #fdd93a;

	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;

	margin: auto;
}

.action-btn {
	border-radius: 20px;
	border: 2px solid #fdd93a;
	padding: 0.5em 1.5em;
	color: #fdd93a;
	margin: 0 auto;
	width: fit-content;
	cursor: pointer;
	font-weight: bold;

	transition: all 0.3s ease;
}

.action-btn:hover {
	color: #121314;
	background-color: #fdd93a;
}

.container {
	width: 100%; padding: 4em 8em;
}

.grid {
	width: 100%; display: flex; justify-content: space-between;
}
.column-1 {
	width: 100%; margin: 1em; position: relative;
}
.bg-img {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	position: relative;
}
.bg-img img {
	width: 100%; height: auto; visibility: hidden;
}

.payments {
	display: flex;
	justify-content: center;
}
.payment-method {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 10px;
}

#loadingscreen {
	position: fixed; width: 100%; height: 100%;
	background-color: #121314;
	color: whitesmoke;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 1;

	transition: all 0.3s ease;	
}
#loadingscreen.hidden {
	opacity: 0;

	z-index: -999;
}

#mainwrapper {
	opacity: 0;
	/*visibility: hidden;*/
	background-color: white;
}
#smoothscroll {
	/*background: #27A6AA;*/
	/*color: white;*/
	/*padding : 20px;*/

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transition: all .5s cubic-bezier(0.2, .84, .5, 1);
	/*transition: all .1s ease;*/
	transform-origin: 0 0;
	transform: translate3d(0px, 0px, 0px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#loadingscreen > .content {
	width: 400px; margin: 0 auto;
	opacity: 0;
}
#progress {
	border: 2px solid #fdd93a;
	border-radius: 20px;
	padding: 10px;
}
#bar {
	padding: 5px;
	background-color: #fdd93a;
	border-radius: 20px;
	width: 0%;
}

.reel-item {
	/*width: 300px;*/
	/*height: 150px;*/
	/*display: inline-block;*/
	float: left;
	position: relative;

	transition: all 0.3s ease;
}
.reel-item > .overlay {
	opacity: 0;
	transition: all 0.3s ease;
}
.reel-item:hover > .overlay {
	/*opacity: 0;*/
}

.reel-image {
	/*width: 300px;*/
	/*height: 200px;*/
}

.divider {
	width: 7%;
	border: 1px solid darkgrey;
	margin: 3em auto;
}

.reel-text {
	position: absolute;
	bottom: 0; left: 0;
	color: whitesmoke;
	padding: 10px;
	width: 100%;
	text-shadow: 2px 2px 10px black;
	transition: all 0.3s ease;
}

.reel-item:hover > .reel-text {
	/*background-color: rgba(0, 0, 0, .2);*/
}

.container-header {
	position: relative;
}

.container-header > span {
	background-color: #121314;
	color: #fdd32a;
	padding: 0.1em 0;
	padding-left: .5em;
	padding-right: .5em;
}
.container-header::before {

	content: "";
	display: block;
	position: absolute;

	top: 0;
	bottom: 0;
	left: -10px;

	background-color: #fdd93a;

	padding: 10px 3% 10px 0;
	float: left;
	z-index: -1;

	/*padding: 20px;*/

}

.yellow-bg {
	background-color: #fdd93a;
}
.black-bg {
	background-color: #121314;
	/*background-color: #182121;*/
}
.black-bg2 {
	background-color: #1a1b1c;
}
.whitesmoke {
	color: whitesmoke;
}
.yellow {
	color: #fdd32a;
}

.black-bg-highlight {
	background-color: #1a1b1c;
	background-color: #121314;
	/*background-color: black;*/
	color: #fdd32a;
	padding: 0.1em 0.4em;
}

.yellow-bg-highlight {
	background-color: #fdd32a;
	color: #121314;
	padding: 0.1em 0.4em;
}

.pad-10 {
	padding: 10em;
}
.pad-10-v {
	padding: 10em 0;
}
.pad-10-h {
	padding: 0 10em;
}
.nicescroll-cursors {
	transition: all .5s cubic-bezier(0.2, .84, .5, 1) !important;
}

.form .field {
	padding: 5px 0;
}
input[type=text], textarea {
	
	font-family: "Roboto";
	border-radius: 0;
	outline: none;

	width: 100%;	
	padding: 15px;

	background-color: whitesmoke;
	background-color: rgba(18, 19, 20, 0.9);
	border: 2px solid rgba(18, 19, 20, 0.7);
	border-radius: 20px;

	font-size: 1rem;
	
	resize: none;
	transition: all 0.3s ease;
}

input[type=text]::placeholder, textarea::placeholder {
	color: #121314;
	color: whitesmoke;
}

input[type=text]:focus, textarea:focus,
input[type=text].not-empty, textarea.not-empty {
	/*opacity: 1;*/
	color: whitesmoke;
	color: #fdd93a;
	background-color: rgba(18, 19, 20, 1);
	border: 2px solid rgba(18, 19, 20, 1);

	/*box-shadow: 0 0 30px 0 #121314;*/
}

input[type=text]:focus::placeholder, textarea:focus::placeholder {
	color: whitesmoke;
}


.action-btn-2 {
	border-radius: 20px;
	border: 3px solid #121314;
	background-color: #121314;
	padding: 1em 2.5em;
	color: #fdd93a;
	margin: 0 auto;
	width: fit-content;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	transition: all 0.3s ease;
}

.action-btn-2:hover {
	color: #121314;
	background-color: #fdd93a;
}

.action-btn-3 {
	
	color: #fdd93a;
	background-color: #121314;
	background-color: transparent;
	border: 3px solid #fdd93a;
	

	padding: .5em 1.8em;
	border-radius: 25px;

	margin: 0 auto;
	/*width: fit-content;*/

	cursor: pointer;
	font-weight: bold;
	font-size: 1.2rem;
	transition: all 0.3s ease;
}

.action-btn-3:hover {
	color: #121314;
	background-color: #fdd93a;
}

#contact-header {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 0;
}
#contact-subheader {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0 0 2em;
}

.reel-list {
	position: relative;
	/*transition: transform 0.3s ease;*/
}
.reel-controls {
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 10%;
	padding: 5px;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	background: transparent;
}
.reel-controls.left {
	left: 0;
	/*background-color: rgba(18, 19, 20, 0.5);*/	
	/*background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
}
.reel-controls.right {
	right: 0;
	/*background-color: rgba(18, 19, 20, 0.5);*/
	/*background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);*/
}

.reel-controls.left:hover {
	background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
}
.reel-controls.right:hover {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .5) 100%);
}

.reel-controls i {
	font-weight: bold;
	margin: auto;
	color: #121314;	
	cursor: pointer;
	
	opacity: 0;

	position: absolute;
	top: 0;
	bottom: 0;

	transition: all 0.3s ease;
}

.reel-controls.left i {
	opacity: 0.5;
	left: -7px;
}
.reel-controls.right i {
	opacity: 0.5;
	right: -7px;
}
.reel-controls.left:hover i {
	opacity: 1;
	left: 5px;
}
.reel-controls.right:hover i {
	opacity: 1;
	right: 5px;
}
.reel-pager i {
	opacity: 0.8;
	color: #121314;

	cursor: pointer;
	transition: all 0.3s ease;
}
.reel-pager i:hover {
	opacity: 1;
}
.reel-pager i.active {	
	opacity: 1;
	color: #fdd93a;
}

#footer {
	background-color: black; /* cuz nag iiba shade sa paningin?? */
}
#footer a.footer-item {
	color: whitesmoke;
	display: block;
}
#footer .footer-label {
	white-space: nowrap;
	color: #fdd93a; margin: 0 0 1em;
}
#footer .footer-item {
	white-space: nowrap;
	opacity: 0.7;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease;
}
#footer .footer-item:hover {
	opacity: 1;
}

#footer i.footer-item {
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	color: whitesmoke;
	text-align: left;
}
#footer i.footer-item:hover {
	color: #fdd32a;
}
#footer .header i {
	color: #fdd93a;
	margin: auto;
	font-size: 3rem;
}
#footer .header h1 {
	color: #fdd93a;
	margin: 0;
	font-size: 3rem;
}

.footer-copyright {
	text-align: center; color: whitesmoke;
}
.footer-copyright i {
	display: inline;
	margin: 0 0.1em;
	/*font-size: 1.5rem;*/
}

.footer-columns {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 1em auto;
}

.footer-column {
	/*width: 100%;*/
	padding: 1em;
	margin: 1em 1.5em;
	display: column;
	justify-content: flex-start;
	text-align: left;
}
.elevate {	
	transition: all 0.3s ease;
}
.elevate:hover {
	box-shadow: 7px 7px 0 0 rgba(0, 0, 0, .3);
	box-shadow: 7px 7px 0 0 #fdd32a;
	box-shadow: 7px 7px 0 0 #d4b22c;
	transform: translate3d(-7px, -7px, 0);
}
.elevate .overlay {
	background-color: rgba(0, 0, 0, .6);
	transition: all 0.3s ease;
}
.elevate:hover .overlay {
	/*opacity: 0;*/
	background-color: rgba(0, 0, 0, .3);
}

#about > div > p, #about > div > ul {
	margin: 1.7em 0;
	line-height: 1.5em;
}

.fw {
	width: 100%;
}
.fh {
	height: 100%;
}
.overlay + div {
	z-index: 2;
}

.yellow-link {
	color: rgba(253, 217, 58, .75);
	color: whitesmoke;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	/*padding: .2em .4em;*/
	padding-bottom: .2em;

	/*border-bottom: 1px solid transparent;*/
	transition: all 0.3s ease;
}

.yellow-link:hover {
	/*background-color: #fdd32a;*/
	color: rgba(253, 217, 58, 1);
	/*color: #121314;*/

	/*border-bottom: 1.5px solid #fdd32a;*/
}

.helper {
	font-size: 0.85rem;
}

#mainheader .form-container {
	min-width: 450px;
	min-height: 300px;
	background-color: rgba(0, 0, 0, .5);
	margin: auto;

	padding: 2em 3em;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 7px 7px 0 0 #fdd32a;
}

.reg-col {
	z-index: 2;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/*justify-content: space-evenly;*/
	text-align: left;
	padding: 3em 4em 5em;
	color: whitesmoke;
}

.reg-divider {
	z-index: 2;
	width: 1%;
	background-color: #fdd93a;
}

.reg-col-header {
	width: 80%;
	margin: 0 auto;
	z-index: 2;
}

.reg-col-header > p {
	font-size: 1.4rem;
	margin: 0;
}

.reg-col-header > h1 {
	font-size: 3.5rem;
	line-height: 1;
	color: #fdd93a;
	text-shadow: 5px 0 0 #4f4000;
}

.reg-col-action {
	width: 80%;
	margin: 1.5em auto 2.5em;
	z-index: 2;
}

.reg-col-action > p {
	font-size: 1.4rem;
	margin-bottom: .5em;
}

.reg-btn {
	cursor: pointer;
	outline: none;
	font-size: 1.8rem;
	font-weight: bold;
	
	width: fit-content;
	padding: .4em .9em;
	border-radius: 0em;

	background: transparent;	
	border: 4px solid #fdd93a;
	color: #fdd93a;

	transition: all 0.3s ease;
}

.reg-btn:hover {
	background: #fdd93a;	
	/*border: 4px solid #fdd93a;*/
	color: #121314;
}