body {
	position: relative;
}
html, body {
	width: 100%; height: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}
#paper-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	z-index: -1;
}
#content {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex; 
	flex-direction: column;
}
.left-column {
	width: 40%;
	height: 100%;
}
.right-column {
	width: 60%;
	height: 100%;
}
.content-column {
	/*padding: 1em 3em;*/
}
.segment {
	padding: 1em 3em;
}
.section-header {
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 1);
	color: rgba(15, 76, 129, 1);
	margin-top: 1.5em;
	margin-bottom: .5em;
	border-bottom: 2px solid rgba(15, 76, 129, 1);
	
}
.pattern {
	position: absolute;
	background-color: transparent;
}
.experience, .education, .reference {
	/*padding-left: calc(1em + 12px);*/
}
.experience h3, .education h3, .reference h3 {
	font-size: 1rem;
}
.experience h4 {
	font-size: .8rem;
}
p, li {
	font-size: .7rem;
}
.divider {
	width: 10%;
	border: 2px solid rgba(15, 76, 129, 1);
	padding: 0;
	margin-bottom: 1em;
	max-width: 20px;
	display: none;
}
.reference {
	padding: 0;
	margin-bottom: 1em;
	width: 100%;
	flex-basis: 50%;
}