html {
	font-size: 1vw;
}
body {
	position: relative;
}
html, body {
	width: 100%; height: 100%; margin: 0;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

#nav-container {
	/*position: fixed;
	top: 0;
	right: 0;
	left: 0;*/

	/*background-color: rgba(0, 0, 0, 0.4);*/

	position: absolute;
	top: 0;
	left: 0;
}

#nav {
	display: block;
	width: 80%;
	margin: 0 auto;
	/*padding-top: 20px;*/
	padding-top: 1.2em;

	color: whitesmoke;
}

#navbar-2 {
	position: fixed;
	top: -100px;
	right: 0;
	left: 0;

	background-color: #121314;
	color: whitesmoke;
	padding: 1em;
	opacity: 0;
	z-index: -1;
	
	transition: all 0.5s ease;
}

#navbar-2.visible {
	top: 0;
	opacity: 1;
	z-index: 11;
}

.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.justify-space-between {
	justify-content: space-between;
}
.justify-space-around {
	justify-content: space-around;
}
.justify-space-evenly {
	justify-content: space-evenly;
}
.justify-center {
	justify-content: center;
}

.nav-segment {
	
}

.nav-divider {
	width: 100%;
	/*border-top: 1px solid currentColor;*/
	border-top: 1px solid #e5e5e5;
	opacity: 0.2;
	/*margin: 15px 0;*/
	margin: 0.8em 0;
}

.fw {
	width: 100%;
}
.fw-90 {
	width: 90%;
}
.fw-80 {
	width: 80%;
}
.fh {
	height: 100%;
}
.nav {
	display: block;
	margin: 0 2%;
	cursor: pointer;
	opacity: 0.6;
	transition: all 0.4s ease;
}
.nav:hover {
	opacity: 1;
	color: white;
}
.nav.active {
	opacity: 1;
	font-weight: bold;
	color: #07cbd0;
}
#header {
	background-image: url(headerbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#header-overlay {
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.uc {
	text-transform: uppercase;
}
.lc {
	text-transform: lowercase;
}

.z-10 { z-index: 10; }
.z-9 { z-index: 9; }
.z-8 { z-index: 8; }
.z-7 { z-index: 7; }
.z-6 { z-index: 6; }
.z-6 { z-index: 6; }
.z-5 { z-index: 5; }
.z-4 { z-index: 4; }
.z-3 { z-index: 3; }
.z-2 { z-index: 2; }
.z-1 { z-index: 1; }

.opaque {
	opacity: 1;
}

.transparent {
	opacity: 0;
}

.nomargin {
	margin: 0;
}

.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}

#cta {
	outline: 0;
	cursor: pointer;

	padding: 1em 3em 1em 3em;
	/*background-color: transparent;*/
	background-color: #07cbd0;
	color: whitesmoke;
	/*border: 3px solid whitesmoke;*/
	border: 3px solid #07cbd0;

	transition: all 0.3s ease;
}

#cta:hover {
	padding: 1em 3em 1em 3em;
}

#cta i {
	line-height: 1.25;
	opacity: 0;
	right: 20%;
	transition: all 0.3s ease;
}
#cta:hover i {
	right: 10%; opacity: 1;
}

.segment-header {
	/*padding: 1em;*/
	color: rgba(0, 0, 0, 0.8);
}

.block-segment-header {
	/*margin: 0 0 50px;
	font-size: 5vw;
	color: rgba(0, 0, 0, 0.8);*/
}

.segment-icon i {
	/*font-size: 3vw;*/
}
.segment {
	padding: 2.3em;
}

.bordered {
	border: 1px solid #e5e5e5;
}

.text-align-center {
	text-align: center;
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
.inline-block {
	display: inline-block;
}
.margin-auto {
	margin: auto;
}
.pointer {
	cursor: pointer;
}
.space {
	padding: 20px;
}
.helper {
	opacity: 0.8;
}
.vertical-margin {
	margin: 3em 0;
}

.block-segment {
	padding: 8% 10%;
}

.facility {
	padding-right: 20px;
}
.facility i {
	color: #07cbd0;
}
.facility-segment {
	padding-bottom: 20px;
}
.facility-list {
	/*padding-left: 20px;*/
}

.facility-list i {
	color: green;
	opacity: 0.5;
}

.free::before {
	display: inline-block;
	color: green;
	border: 1px solid green;
	padding: 5px 10px;
	margin-right: 10px;
	content: "Free";
	font-size: 80%;
	opacity: 0.6;
}

.add-charge::after {
	margin-left: 10px;
	content: "Additional Charge";
	font-size: 80%;
	opacity: 0.6;
}
.service {
	width: 100%;
	/*border: 1px solid #e5e5e5;*/
	padding: 2.3em;
}
.service:not(:last-child) {
	/*border: 1px solid #e5e5e5;*/
	transition: all 0.4s ease;
}

.service-header {
	display: block;
	font-weight: bolder;
	margin: 0.67em 0;
	/*font-size: 1.5vw;*/
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.4s ease;
}
.service-header:hover {
	color: #07cbd0;
}
.service-text {
	opacity: 0.7;
	/*font-size: 1vw;*/
	font-size: 1rem;
}

.room-nav {
	margin: 0 2%;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.4s ease;
}
.room-nav:hover {
	/*opacity: 1;*/
	color: #07cbd0;
}
.room-nav.active {
	/*opacity: 1;*/
	color: #07cbd0;
	font-weight: bold;
}

.blackish {
	color: rgba(0, 0, 0, 0.8);
}
.white {
	color: whitesmoke;
}
.grey {
	color: rgba(0, 0, 0, 0.8);
}
#overview {
	background-image: url(headerbg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.list-item {
	margin: 5px 0 5px 0;
}
.nodecor {
	text-decoration: none;
}
.footer-header {
	/*font-size: 2.5vw;*/
	font-size: 2rem;
	margin-top: 0;
}

.opacity-hover {
	opacity: 0.6;
}
.opacity-hover:hover {
	opacity: 1;
}

.text {
	/*font-size: 1.1vw;*/
	font-size: 1rem;
}

.quick-link {
	position: relative;
	overflow: hidden;

	display: inline-block;
	width: 100%;
	min-height: 20px;
}

.quick-link span, .quick-link a {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	text-decoration: none;
	color: inherit;
	margin: auto auto auto 20px;
	transition: all 0.3s ease;
}

.quick-link:before {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 10px;
	height: 2px;
	content: '\a0';

	opacity: 0.6;
	background-color: black;

	margin-right: -20px;
	text-align: right;

	transition: all 0.3s ease;

}

.quick-link:hover span, .quick-link:hover a {
	margin-left: 30px;
}
.quick-link:hover:before{
	width: 20px;
}


.quick-link-1 span, .quick-link-1 a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
}

.bar {
	border: 1px solid black;
	padding: 0 10px;
	width: 100%;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bordered-item-col:not(:last-child) {
	border-left: border: 1px solid #e5e5e5;
}

/*.bordered-item-col:last-child {
	border-left: border: 1px solid #e5e5e5;
}*/

#louis {
	font-weight: bold;
	text-decoration: none !important;
	/*color: rgba(0, 255, 255, 0.9);*/
	/*border-bottom: 2px solid rgba(0, 255, 255, 0.8);*/

	color: #0a79d8;
}

#louis:hover {
	/*color: rgba(0, 255, 255, 1);*/
	/*border-bottom: 2px solid rgba(0, 255, 255, 1);*/
}

#function-hall {
	/*min-height: 500px;*/
	background-image: url(headerbg3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


#rooms {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.room-column {
	padding: 0 10px 20px;

	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1em 1.5em;

	flex-grow: 1;
	/*flex-shrink: 0;*/
	/*flex-basis: 0;*/

	transition: all 0.3s ease;
}

.room-name {
	word-break: break-all;
}

.room-column:hover {
	box-shadow: 0 0 20px 5px darkgrey;
}

.room-action {
	align-self: flex-end;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0;
}
.room-btn {

	cursor: pointer;
	outline: none;

	font-size: 1rem;
	font-weight: bold;

	color: #07cbd0;
	background-color: transparent;
	border: 3px solid #07cbd0;

	padding: 1em 1.7em;

	transition: all 0.3s ease;
}

.room-btn:hover {
	color: whitesmoke;
	background-color: #07cbd0;
	border: 3px solid #07cbd0;
}

.room-details p {
	font-size: 1rem;
}
.room-image {
	width: 100%;
	/*height: auto;*/
}
.room-image img {
	width: 100%;
	height: auto;
}
.php {
	font-size: 120%;
}
.room-price {
	font-size: 180%;
}


#services {
	display: flex;
	flex-direction: row;
}

#service-header {
	width: 100%;
	padding: 2.3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footer {
	display: flex;
	flex-direction: row;
}
@media all and (max-width: 900px) {

	#service-header {
		margin-bottom: 1.5em;
		text-align: center;
	}
	#services {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		/*display: block;*/
	}
	.service {
		padding: 1em;
		width: 50%;
		flex-basis: 50%;
	}

	#rooms {
		display: block;
	}
	.room-column {
		flex-direction: row;
		justify-content: space-around;
		margin-top: 1em;
		padding: 2em 1.5em;
	}

	.room-image {
		width: 30%;
		height: auto;
	}
	.room-name {
		margin-top: 0;
	}
	.room-data {
		/*width: 70%;*/
		margin-left: 1.5em;
		display: flex;
		flex-direction: column;
	}

	#footer {
		flex-direction: column;
	}
}

@media all and (max-width: 768px) {
	.room-column {
		flex-direction: column;
	}
	.room-image {
		width: 100%;
	}

	.room-data {
		margin-left: 0;
		margin-top: 1.5em;
	}
}

@media all and (max-width: 600px) {
	.service {
		width: 100%;
		flex-basis: 100%;
	}
}

/*#07cbd0*/